@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Yeon+Sung&display=swap');

:root {
    
    --heading-font: Yeon sung, "IM Fell French Canon SC";
    --paragraph-font: Reem Kufi Fun, Lato, Helvetica, sans-serif;
}

video{
    position: fixed;
    max-width: 1400px;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 0.7;
}
img.logo {
    max-width: 100px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin-left: 20px;
    width: 100%;
    justify-self: left;
}
#content {
    max-width: 1440px;
    box-sizing: border-box;
    background-blend-mode: color;
    padding: 0;
    margin: 0 auto;
    display: grid;
    justify-content: space-around;

}
#titulo{
    max-width: 1000px;
    justify-self: center;
    width: 100%;
    
}
#menu {
    display: none;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: var(--heading-font);
    color: gold;
    margin: 15px;
    position: relative;
    z-index: 1;
    
}
#herotext{
    background-image: radial-gradient(#000000cc,#0de72a);
    border-radius: 50px;
}
.button-box{
    display: grid;
    justify-items: center;
}
a.rent{
    border-radius: 20px;
    padding:20px;
    font-family: var(--heading-font);
    font-size: 40px;
    background-image: linear-gradient(#b7f3baaf,#0de72a);
    font-weight: 800;
    color: #312F2F;

}
.rent:hover {
    transform: scale(1.2);
    box-shadow: 0 0 100px #db3131;

}
.navigation ul {
    list-style-type: none;
    padding: 10px;
    
}

.navigation {
    display: inline-table;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: auto;
    grid-column: 1/3;
}
.active::before {
	content: "🏝"; 
}
.active{
    border-bottom: solid 4px #f5f240;
}
.open a {
    display: block;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

a {
    height: 45px;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: bold;
    padding:  0 10px 0 ;
    color: #f55516;
    font-size: 36px;
    text-align: center;
    
}
p{
    font-family: var(--paragraph-font);
    
}
h2{
    font-family: var(--heading-font);
    font-size: 30px;
    color: blue;
}
#hometext{
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
    background-image: radial-gradient(#85f78eea,#fdfdfd00);
    border-radius: 20px;
    padding: 20px;

}
.navigation a:hover {

    color: #f1082b;
    display:inline-table ;
    transform: scale(1.1);
    border-radius: 15px;
    border: solid  2px #ff6905c2;
    box-shadow: 0 0 50px #f7e92f;
    
}

.vehicles {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 1280px;
	
	font-family:var(--paragraph-font);
    display: block;
    align-items: center;
}

.menud {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	
	text-align: center;
}

.menud button {
	padding: 1%;
	font-weight: 700;
    border-radius: 10px;
    font-family: var(--paragraph-font);
    font-size: 20px;
    background: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.vehicles ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.vehicles ul ul {
    display: block;
}
.vehicles li{
    background-color: #b1b1b163;
    padding: 5px;
    margin: 10px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px #333;
    text-align: center;

}
.vehicles li li {
    margin: 0 0 0 5px;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    background-color: unset;
    
}
.grida {
	display: grid;
	
	grid-gap: 15px;
	align-items: center;
}

.grida  {
	text-align: center;
}

.grida img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
    max-width: 250px;
    margin: 15px;
    border-radius: 10px;
    background-color: #F6E8EA;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.vehicles li:hover{
    background-color: #fff;
}

.grida h4 {
	font-family: var(--heading-font);
    font-size: 25px;
}
.lista {
	display: none;
	
}
.information{
    display: flex;
    justify-content: space-evenly;
    height: 550px;

}
.mapboxgl-control-container {
    display: none;
}
.mapboxgl-canvas {
    align-items: center;
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.weather{
    background-color: #6ac4f8;
    opacity: 0.8;
    padding: 3%;
    border-radius: 20px;
    text-align: center;
}
#weatherInfo{
    align-items: center;
}

footer {
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    min-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
footer .social img {
    height: 50px;
}
/*banner*/
#closeBanner, #reservation {
    background-image: linear-gradient(#f5b055, #f73e3e);
    border-radius: 20px;
    text-align: center;
    padding: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #000;
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
section{
    display: ruby-text;
    padding: 20px;
}
.maxtemp{
    color: #f1082b;
    font-family: var(--heading-font);
    font-size: 45px;
}
#closeBanner:hover {
    transform: scale(1.2);
    box-shadow: 0 0 100px #097f25;

}
#banner{
    background-image: radial-gradient(#050502, #0502022c);
    color: #ffffff;
    font-family:var(--paragraph-font);
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 18px;
    
}
#banner p {
    margin: 5px;
}
/*rentals page*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}
#terms{
    font-family: var(--paragraph-font);
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    font-size: 30px;
    font-family: var(--heading-font);
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}
td{
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
}

thead {
    background-color: #98f72ba2;
}
.vehicle-image img {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}
.vehicle-image img:hover {
    transform: scale(5); 
    z-index: 1;
}
#vehicle-image-container{
    height: 200px;
    width: 100%;
}

/*reservation page*/
label{
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    
}
.containers{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}
#vehicle-image-container{
    display: flex;
    justify-content: center;
}
.formu{
    display: grid;
    justify-content: center;
}
.container h2{
    text-align: center;
}
input:required {
    border-bottom: solid 4px red ;

}
input:required:valid {
    border-bottom: solid 4px green;}

input,select{
    border-radius: 5px;
    border:solid 2px black;
}
select.p{
    font-family: var(--paragraph-font);
}
fieldset{
    box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 15px;
}
#confirm{
    text-align: center;
    margin: 20px 0 10px;
    grid-column: 1 / 3;
}
/*contac us*/
.container form{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    max-width: 600px;
}
textarea {
    overflow: auto;
    height: 80px;
}
form ul li{
    list-style: none;
    display: grid;
}
#feedback{
    box-shadow: 0px 0px 10px rgba(90, 248, 28, 0.329);
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
    background-color: #0dbd3694;
    padding: 3%;
    border-radius: 20px;
}
.mapa{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100%;
    max-width: 650px;
    height: 500px;
    
}
iframe {
    width:100% ;
}
.moveDown {
    margin-top: 3em;
}
/*explore*/
.hero {
    width: 100%;
    margin-top: -150px;
    height: auto;
    overflow: hidden;
    z-index: -1;
}
img{
    animation: fade 8s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main.page-explore {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    max-width: 1095px;
}
.Info {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    
}


.Info img {
    float: left;
    margin-right: 20px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 400px;

}
.photo{
    max-width: 516px;
}

.saturate:hover {
    box-shadow: 0 0 50px #333;
}
.saturate {
    filter: saturate(50%);
    width: 30%;
}
.data{
    background-color: #a9a9a952;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.photo img {
    margin: 20px 0 20px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}